{{#if logged_in}}
<div class="list-title">
    <h2 class="text-center text-white m-4">Shopping List</h2>
    <p class="subtitle text-center">Let's head to the store and complete your pantry!</p>
</div>

<div id="recipeDetailContainer">
            {{#each recipe.ingredientList as |ingredient|}}
                {{#if ingredient.in_list}}
                    <div class="card border-primary bg-primary-subtle mx-3 mb-1">
                        <div class="row g-0">
                            <div class="col-xl-9 col-lg-7 col-md-6 col-sm-12">
                            <div class="d-flex justify-content-center position-relative">
                                
                                <div class="d-flex img-container">
                                <div class="d-flex justify-content-center align-items-center need-it"><i class="fa-solid fa-cart-shopping fa-2xl text-white"></i></div>
                                <div class="bg-image" style="background-image: url('{{ingredient.ingredient_img}}');"></div>
                                </div>
                                <div class="d-flex flex-row justify-content-start align-items-center w-100">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="card-body">
                                    <h6 class="card-title m-0 p-3 p-sm-1 text-body-tertiary">{{ingredient.amount}} {{ingredient.units}} {{ingredient.ingredient_name}}</h6>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-5 col-md-6 col-sm-12 d-flex justify-content-md-end justify-content-center align-items-center">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex btn-container">
                                <button class="btn btn-info mx-2 my-1 ing-btn" type="submit"><i class="fa-solid fa-list-ul pe-3"></i>In List</button>
                                </div>
                                <div class="d-flex btn-container">
                                <button class="btn btn-dark mx-2 my-1 ing-btn" type="submit"><i class="fa-solid fa-xmark"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                {{else}}
                    <div class="card border-secondary mx-3 mb-1">
                    <div class="row g-0">
                        <div class="col-xl-9 col-lg-7 col-md-6 col-sm-12">
                            <div class="d-flex justify-content-center">
                                <div class="d-flex img-container">
                                    <!-- Static ingredient image is used for background -->
                                    <div class="bg-image" style="background-image: url('{{ingredient.ingredient_img}}');">
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-start align-items-center w-100">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="card-body">
                                            <!-- Ingredient amount, the units, and the name are listed -->
                                            <h6 class="card-title m-0 p-3 p-sm-1 text-dark">{{ingredient.amount}} {{ingredient.units}} {{ingredient.ingredient_name}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Marking ingredient state is only available for authorized users -->
                
                        <div
                            class="col-xl-3 col-lg-5 col-md-6 col-sm-12 d-flex justify-content-md-end justify-content-center align-items-center">
                            <div class="d-flex btn-container">
                                <!-- This button marks the ingredient as in_stock: true AND leaves default shopping_list: false -->
                                <button class="btn btn-outline-success mx-2 my-1 ing-btn inStockBtn" type="submit"
                                    data-button="{{recipe.id}}">
                                    <i class="fa-solid fa-circle-check pe-3"></i>Have It</button>
                            </div>
                            <div class="d-flex btn-container">
                                <!-- This button marks the ingredient as shopping_list: true -->
                                <button class="btn btn-outline-primary mx-2 my-1 ing-btn shoppingListBtn" type="submit"
                                    data-ingredient-img="{{ingredient.ingredient_img}}"
                                    data-ingredient-name="{{ingredient.ingredient_name}}"
                                    data-ingredient-amount="{{ingredient.amount}}"
                                    data-ingredient-units="{{ingredient.units}}"
                                    data-recipe-id="{{recipe.id}}">
                                    <i class="fa-solid fa-cart-shopping pe-3"></i>Need It</button>
                            </div>
                        </div>
                
                    </div>
                </div>
                {{/if}}
                
                
        {{/each}}
         </div>  
{{/if}}